<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lwr">

  <xacro:arg name="use_gazebo" default="1"/>
  <xacro:arg name="use_transmission" default="1"/>
  <xacro:arg name="collision_simple" default="1"/>
  <xacro:arg name="visual_simple" default="0"/>

  <xacro:include filename="$(find kuka_lwr4_description)/urdf/defs/kuka_lwr_arm_defs.urdf.xacro"/>
  <xacro:if value="$(arg use_gazebo)">
    <xacro:include filename="$(find kuka_lwr4_description)/urdf/defs/gazebo_defs.gazebo"/>
  </xacro:if>
  <xacro:include filename="$(find kuka_lwr4_description)/urdf/defs/materials.xml"/>

  <link name="world_frame">
      <visual>
        <origin xyz="0 0 -0.02" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.75 0.04"/>
        </geometry>
        <material name="DarkGrey"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.02" rpy="0 0 0"/>
        <geometry>
          <box size="0.7 0.75 0.04"/>
        </geometry>
      </collision>
  </link>

  <kuka_lwr_arm parent="world_frame" name="lwr" right="1" gazebo="$(arg use_gazebo)" transmission="$(arg use_transmission)" collisionsimple="$(arg collision_simple)" visualsimple="$(arg visual_simple)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </kuka_lwr_arm>

</robot>
